<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Bootstrap Css-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--Meanmenu.css-->
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <!--Owl carousel-->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <!--Owl Theme-->
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <!--Magnific-popup-->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <!--Flaticon-->
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <!--Remixicon-->
        <link rel="stylesheet" href="assets/css/remixicon.css">
        <!--Odometer-->
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <!--Aos css-->
        <link rel="stylesheet" href="assets/css/aos.css">
        <!--Style css-->
        <link rel="stylesheet" href="assets/css/style.css">
        <!--Dark css-->
        <link rel="stylesheet" href="assets/css/dark.css">
        <!--Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css">
        <title>Accès aux Soins de Santé</title>
        <link rel="icon" type="image/png" href="assets/images/logo.jpg">
    </head>
    <style>
        body{
            overflow-x: hidden;
        }
    </style>
    <body>
        
        
        <!-- Start Navbar Area --> 
        <div class="navbar-area nav-bg-1">
            <div class="mobile-responsive-nav">
                <div class="container">
                    <div class="mobile-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo.jpg" class="main-logo" alt="logo" style="width: 50px;">
                                <img src="assets/images/white-logo.jpg" class="white-logo" alt="logo" style="width: 50px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="desktop-nav">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/images/logo.jpg" class="main-logo" alt="logo" style="width: 80px;">
                            <img src="assets/images/white-logo.jpg" class="white-logo" alt="logo" style="width: 80px;">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link active">
                                        Accueil            
                                    </a>
                                  
                                </li>
                                <li class="nav-item">
                                    <a href="about-us.html" class="nav-link">A propos</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        Services            
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index-2.html" class="nav-link">Accès aux Soins de Santé</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-3.html" class="nav-link">Agro-Pastoral & Pisciculture</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="404.html" class="nav-link">Orphelinat et Education</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="404.html" class="nav-link">Consultation à distance</a>
                                        </li>
                                    </ul>
                                    
                                </li>


                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        Espace Membre
                                    </a>
                                
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">
                                                Utilisateurs
                                            </a>
                                
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="login.html" class="nav-link">Se Connecter</a>
                                                </li>
                                
                                                <li class="nav-item">
                                                    <a href="register.html" class="nav-link">S'inscrire</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                

                                <li class="nav-item">
                                    <a href="../E-learning/index.html" class="nav-link">Formations</a>
                                </li>
                            </ul>

                            <div class="others-options">
                                <ul>
                                    <li>
                                        <div class="call-now">
                                            <i class="flaticon-phone-call-1"></i>
                                            <p>Appelez-Nous</p>
                                            <a href="tel:021-6523-3652">( +243 808 877 110)</a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="appoinment.html" class="default-btn btn">Ecrivez-nous</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-options justify-content-center d-flex align-items-center">
                                <div class="others-options">
                                    <ul>
                                        <li>
                                            <div class="call-now">
                                                <i class="flaticon-phone-call-1"></i>
                                                <p>Appelez maintenant</p>
                                                <a href="tel:( +243 808 877 110)
                                                ">( +243 808 877 110)
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="appoinment.html" class="default-btn btn">Prendre un Rendez-Vous</a>
                                        </li>
                                    </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!--Start Banner Area-->
        <div class="banner-area">
            <div class="banner-slider2 owl-carousel owl-theme">
                <div class="slider-item bg-2">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="banner-content p-0" data-aos="fade-up" data-aos-duration="1400" data-aos-delay="200">
                                <h1 style="text-align: center; margin-top: -20px;">Accédez aux Soins de Santé Où Que Vous Soyez</h1>
                                <p style="text-align: center;">Notre plateforme vous offre un accès rapide et facile aux soins de santé, peu importe où vous vous trouvez. Prenez rendez-vous en ligne et consultez nos experts médicaux à tout moment, pour une prise en charge professionnelle adaptée à vos besoins.</p>
                    
                                <div class="btn-area">
                                    <ul style="text-align: center;">
                                        <li>
                                            <a href="appoinment.html" class="default-btn btn active mr-20">Prendre un Rendez-vous</a>
                                        </li>
                                        <li>
                                            <a href="about-us.html" class="default-btn btn">En Savoir Plus sur Nous</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <!--End Banner Area-->

        <!--Start Features Area-->
        <div class="featured-area1 style">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="feature-left-content" style="padding: 8% 5%; background-color: #f9f9f9; border-radius: 10px;">
                            <div class="feature-title">
                                <span style="font-size: 16px;font-weight: 600;">Nos Services</span>
                                <h2 style="font-size: 36px; font-weight: 700; color: #333; margin-top: 15px;">Prenez Soin de Votre Santé en Toute Confiance</h2>
                                <p style="font-size: 18px; color: #666; line-height: 1.6; margin-top: 20px; text-align: justify;">
                                    Nous vous offrons des solutions de soins de santé accessibles, rapides et adaptées à vos besoins. Votre bien-être est notre priorité.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="feature-slider owl-carousel owl-theme">
                            <!-- Slider Item 1 -->
                            <div class="single-features-card" style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);">
                                <div class="icon" style="display: flex; justify-content: center; align-items: center; background-color: #0c4bb8; padding: 10px; border-radius: 50%; margin-bottom: 20px; width: 60px; height: 60px; margin: 0 auto;">
                                    <i class="flaticon-syringe" style="color: #fff; font-size: 24px;"></i>
                                </div>
                                <h3 style="font-size: 22px; color: #333; font-weight: 700; text-align: center;">Consultations à Distance</h3>
                                <p style="font-size: 16px; color: #666; margin-top: 15px; text-align: center;">
                                    Consultez un médecin sans sortir de chez vous grâce à nos services de téléconsultation.
                                </p>
                                <a href="404.html" class="read-more-btn" style="color: #b80c31; font-weight: 600; display: block; text-align: center;">Découvrir <i class="flaticon-right-arrow-1"></i></a>
                            </div>
                            <!-- Slider Item 2 -->
                            <div class="single-features-card" style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);">
                                <div class="icon" style="display: flex; justify-content: center; align-items: center; background-color: #0c4bb8; padding: 10px; border-radius: 50%; margin-bottom: 20px; width: 60px; height: 60px; margin: 0 auto;">
                                    <i class="flaticon-dentist-1" style="color: #fff; font-size: 24px;"></i>
                                </div>
                                <h3 style="font-size: 22px; color: #333; font-weight: 700; text-align: center;">Soins d'Urgence</h3>
                                <p style="font-size: 16px; color: #666; margin-top: 15px; text-align: center;">
                                    Intervention rapide pour des soins d’urgence disponibles 24h/24.
                                </p>
                                <a href="404.html" class="read-more-btn" style="color: #b80c31; font-weight: 600; display: block; text-align: center;">Découvrir <i class="flaticon-right-arrow-1"></i></a>
                            </div>
                            <!-- Additional Slider Items -->
                        </div>
                        <!-- Navigation arrows -->
                        <div class="owl-nav">
                            <button class="owl-prev" style="background-color: #0c4bb8; color: #fff; border: none; padding: 10px 15px; border-radius: 50%; position: absolute; left: -30px; top: 50%; transform: translateY(-50%);">
                                <i class="flaticon-left-arrow-1"></i>
                            </button>
                            <button class="owl-next" style="background-color: #0c4bb8; color: #fff; border: none; padding: 10px 15px; border-radius: 50%; position: absolute; right: -30px; top: 50%; transform: translateY(-50%);">
                                <i class="flaticon-right-arrow-1"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!--End Features Area-->

        <!--Start About area-->
        <div class="about-section ptb-100" style="background-color: #f4f7f6;">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Image Section -->
                    <div class="col-lg-6">
                        <div class="about-image" style="position: relative;">
                            <img src="assets/images/index4.jpg" alt="À propos de nous" style="width: 100%; border-radius: 10px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);">
                            <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); border-radius: 10px; opacity: 0; transition: opacity 0.3s ease;">
                            </div>
                        </div>
                    </div>
                    <!-- Content Section -->
                    <div class="col-lg-6">
                        <div class="about-content" style="padding-left: 30px;">
                            <span style="font-size: 16px; font-weight: 600; color: #b80c31;">À Propos de Nous</span>
                            <h2 style="font-size: 36px; font-weight: 700; color: #333; margin-top: 15px;">Experts en Bien-Être Physique et Mental</h2>
                            <p style="font-size: 18px; color: #666; line-height: 1.8; margin-top: 20px; text-align: justify;">Nous sommes une équipe dédiée à votre santé. Nos services allient expertise médicale et technologies modernes pour vous offrir des soins adaptés à vos besoins physiques et mentaux.</p>
        
                            <div class="about-features mt-30">
                                <div class="single-feature d-flex align-items-start">
                                    <div class="icon" style="background-color: #0c4bb8; padding: 15px; border-radius: 50%; color: white;">
                                        <i class="flaticon-medical-app" style="font-size: 24px;"></i>
                                    </div>
                                    <div class="feature-text" style="margin-left: 20px;">
                                        <h3 style="font-size: 20px; font-weight: 600; color: #333;">La Santé Globale au Cœur de Nos Préoccupations</h3>
                                        <p style="font-size: 16px; color: #666; margin-top: 10px;">Nous croyons en une approche holistique de la santé, vous offrant des services personnalisés pour garantir un bien-être optimal.</p>
                                    </div>
                                </div>
                                <div class="single-feature d-flex align-items-start mt-30">
                                    <div class="icon" style="background-color: #0c4bb8; padding: 15px; border-radius: 50%; color: white;">
                                        <i class="flaticon-medical-checkup-1" style="font-size: 24px;"></i>
                                    </div>
                                    <div class="feature-text" style="margin-left: 20px;">
                                        <h3 style="font-size: 20px; font-weight: 600; color: #333;">Des Soins de Qualité et Sécurisés</h3>
                                        <p style="font-size: 16px; color: #666; margin-top: 10px;">Votre sécurité et confort sont nos priorités. Chaque patient bénéficie de soins rigoureusement surveillés pour assurer les meilleurs résultats.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!--End About area-->

        <!--Start Work Area-->
        <div class="work-area">
            <div class="container-fluid">
                <div class="work-bg ptb-100 bg-color1">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="work-left-content">
                                <div class="work-title">
                                    <span>Comment Nous Travaillons</span>
                                    <h2>Nous Résolvons Chaque Problème Avec Efficacité et Précision</h2>
                                    <p>Nous utilisons des approches innovantes et personnalisées pour répondre aux besoins de chaque patient. Notre objectif est d'assurer des solutions efficaces et de haute qualité pour votre bien-être.</p>
                                </div>
                                <!-- <a href="#" class="default-btn btn">En Savoir Plus</a> -->
                                <div class="special-follow">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
                                            <a href="doctors.html">
                                                <div class="follow-card">
                                                    <img src="assets/images/w4.png" alt="Image">
                                                    <div class="follow-content">
                                                        <h3>Suivi Spécial</h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
                                            <a href="doctors.html">
                                                <div class="follow-card">
                                                    <img src="assets/images/w4.png" alt="Image">
                                                    <div class="follow-content">
                                                        <h3>Suivi Spécial</h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <a href="doctors.html">
                                                <div class="follow-card" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600">
                                                    <img src="assets/images/w4.png" alt="Image">
                                                    <div class="follow-content">
                                                        <h3>Suivi Spécial</h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="follow-image-content" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="200">
                                <img src="assets/images/img6.webp" alt="Image" style="width: 100%; height: 190%;">
                                <div class="icon">
                                    <a class="popup-youtube play-btn" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><i class="flaticon-play-button-arrowhead"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--End Work Area-->

        <!--Start Provid Area-->
        <div class="provid-area pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <span class="top-title">Ce Que Nous Faisons</span>
                    <h2>Nous Offrons Des Services Spéciaux</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
                        <div class="single-provide-card">
                            <div class="provide-content">
                                <div class="icon">
                                    <i class="flaticon-healthcare"></i>
                                </div>
                                <h3>Soins de Santé Familiaux</h3>
                                <p>Nous offrons des services de soins de santé complets pour toute la famille, en mettant l'accent sur le bien-être et la prévention.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
                        <div class="single-provide-card">
                            <div class="provide-content">
                                <div class="icon">
                                    <i class="flaticon-medical-team"></i>
                                </div>
                                <h3>Une Équipe Dévouée À Votre Service</h3>
                                <p>Notre équipe de professionnels de la santé est prête à vous offrir un soutien expert et personnalisé pour tous vos besoins médicaux.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600">
                        <div class="single-provide-card">
                            <div class="provide-content">
                                <div class="icon">
                                    <i class="flaticon-nephrologist"></i>
                                </div>
                                <h3>Quel Spécialiste Cherchez-Vous ?</h3>
                                <p>Nous mettons à votre disposition une large gamme de spécialistes pour répondre précisément à vos besoins de santé.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="800">
                        <div class="single-provide-card">
                            <div class="provide-content">
                                <div class="icon">
                                    <i class="flaticon-doctor"></i>
                                </div>
                                <h3>Consultez Nos Médecins</h3>
                                <p>Nous vous offrons l'accès aux meilleurs médecins pour des consultations de qualité, afin d'assurer votre santé et votre bien-être.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--End Provid Area-->

        <!--Start Choose Area-->
        <div class="choose-area">
            <div class="container-fluid">
                <div class="choose-us-bg bg-color1 pt-100 style" style="height: 700px;">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="choose-img pr-20" data-aos="fade-right" data-aos-duration="1300" data-aos-delay="300">
                                <img src="assets/images/index3.jpg" alt="Image" style="width: 100%; height: 520px; object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="choose-content pl-20" data-aos="fade-left" data-aos-duration="1300" data-aos-delay="300">
                                <div class="choose-title">
                                    <span>Qui Nous Sommes</span>
                                    <h2>Nous Offrons Des Soins De Santé Pour Tous Les Types De Patients</h2>
                                    <p>Notre objectif est de garantir un accès aux soins de qualité pour tous, avec une attention particulière à chaque patient.</p>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="list1">
                                            <ul>
                                                <li>
                                                    <i class="ri-checkbox-circle-line"></i>
                                                    <p>Équipe de Soins de Haute Qualité</p>
                                                </li>
                                                <li>
                                                    <i class="ri-checkbox-circle-line"></i>
                                                    <p>Services Médicaux À La Pointe De La Technologie</p>
                                                </li>
                                            
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="list2">
                                            <ul>
                                                <li>
                                                    <i class="ri-checkbox-circle-line"></i>
                                                    <p>Hôpital Multispécialité <br><br></p>
                                                </li>
                                                <li>
                                                    <i class="ri-checkbox-circle-line"></i>
                                                    <p>Spécialistes Professionnels</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--End Choose Area-->

        <!--Start Dooctors Area-->
        <div class="doctors-area pt-100 pb-70 style">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="doctor-contain">
                            <div class="section-title style2">
                                <span class="top-title">Nos Médecins</span>
                                <h2>Nos Médecins Et Leurs Services De Santé Exceptionnels</h2>
                                <p>Découvrez notre équipe de médecins spécialisés, dédiés à offrir des soins de qualité pour tous vos besoins médicaux.</p>
                            </div>
                            <a href="doctors.html" class="default-btn btn">En Savoir Plus</a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="doctor-slider owl-carousel owl-theme">
                            <div class="single-doctor-card style">
                                <div class="doctor-img">
                                    <img src="assets/images/doctor/doctor-5.jpg" alt="Image">
                                    <div class="social-content">
                                        <ul>
                                            <li>
                                                <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="doctor-card-content">
                                    <h3>Dr. Weshi</h3>
                                    <p>Orthopédie</p>
                                </div>
                            </div>
                            <div class="single-doctor-card style">
                                <div class="doctor-img">
                                    <img src="assets/images/doctor/doctor-6.jpg" alt="Image">
                                    <div class="social-content">
                                        <ul>
                                            <li>
                                                <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="doctor-card-content">
                                    <h3>Dr. Weshi</h3>
                                    <p>Cardiologie</p>
                                </div>
                            </div>
                            <div class="single-doctor-card style">
                                <div class="doctor-img">
                                    <img src="assets/images/doctor/doctor-6.jpg" alt="Image">
                                    <div class="social-content">
                                        <ul>
                                            <li>
                                                <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="doctor-card-content">
                                    <h3>Dr. Weshi</h3>
                                    <p>Médecine Générale</p>
                                </div>
                            </div>
                            <div class="single-doctor-card style">
                                <div class="doctor-img">
                                    <img src="assets/images/doctor/doctor-5.jpg" alt="Image">
                                    <div class="social-content">
                                        <ul>
                                            <li>
                                                <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="doctor-card-content">
                                    <h3>Dr. Weshi</h3>
                                    <p>Orthopédie</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- Start Appoinment Doctor Area-->
        <div class="appoinment-area">
            <div class="container-fluid">
                <div class="appoinment-bg bg-color1 ptb-100">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="appoinment-content" data-aos="fade-right" data-aos-duration="1400" data-aos-delay="200">
                                <div class="appoinment-title">
                                    <span>Prendre Rendez-Vous</span>
                                    <h2>Réservez un Rendez-Vous Avec Votre Médecin Spécialiste</h2>
                                    <p>Il existe de nombreuses variations de passages de Lorem Ipsum disponibles. Tous les générateurs de Lorem Ipsum sur Internet tendent à répéter le texte de manière humoristique ou avec des mots aléatoires qui ne semblent pas crédibles.</p>
                                    <a href="appoinment.html" class="default-btn btn">Obtenir un Devis</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="appoinment-form" data-aos="fade-left" data-aos-duration="1400" data-aos-delay="200">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Nom*">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email*">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Numéro de Téléphone*">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <select class="form-select form-control">
                                                    <option selected>Sélectionner la Catégorie*</option>
                                                    <option value="1">Chirurgie Dentaire</option>
                                                    <option value="2">Soins Oculaires</option>
                                                    <option value="3">Médecine</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <select class="form-select form-control">
                                                    <option selected>Sélectionner un Médecin*</option>
                                                    <option value="1">Dr. Maddison Reichel</option>
                                                    <option value="2">Dr. Benjamin West</option>
                                                    <option value="3">Dr. Enola Stoltenberg</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="3" placeholder="Message*"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit" class="default-btn active">
                                                Envoyer le Message
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- End Appoinment Doctor Area-->

        <!--Start Advice Area-->
        <div class="advice-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="advice-img pr-20 style" data-aos="fade-right" data-aos-duration="1300" data-aos-delay="200">
                            <img src="assets/images/advice/advice-2.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="advice-content style pl-20" data-aos="fade-left" data-aos-duration="1300" data-aos-delay="200">
                            <div class="advice-title">
                                <span>Conseil en Ligne</span>
                                <h2>Trouvez un Médecin en Ligne Aujourd'hui et Évitez la Salle d'Attente</h2>
                                <p>Il existe de nombreuses variations de passages de Lorem Ipsum disponibles, mais la majorité n'inclut pas d'humour injecté ou de mots aléatoires qui ne semblent même pas légèrement crédibles.</p>
                            </div>
                            <div class="list">
                                <div class="row">
                                    <div class="col-lg-5 col-md-6">
                                        <ul>
                                            <li>
                                                <i class="ri-phone-line"></i>
                                                <p>Appelez Maintenant Gratuitement</p>
                                                <a href="tel:+7854-9654-258">( +243 808 877 110)</a>
                                            </li>
                                            <li>
                                                <i class="ri-map-pin-user-line"></i>
                                                <p>Adresse</p>
                                                <span>187 Avenue Nguma
                                                    Zone de santé de Mbinza Météo C/ Ngaliema - Kinshasa RDC</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <ul>
                                            <li>
                                                <i class="ri-time-line"></i>
                                                <p>Heures d'Ouverture</p>
                                                <span>Lundi-Dimanche : 8h00 - 20h00</span>
                                            </li>
                                            <li>
                                                <i class="ri-exchange-dollar-line"></i>
                                                <p>Remboursement Facile</p>
                                                <span>Garantie de Remboursement</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <a href="contact-us.html" class="default-btn btn">Contactez-nous</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--End Advice Area-->

        <!--Start Footer Area-->
        <div class="footer-area">
            <div class="container">
                <div class="footer pt-100 pb-70">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="logo-area" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
                                <a href="index.html"><img src="assets/images/logo.jpg" alt="Image" style="width: 70px;"></a>
                                <p>Il existe de nombreuses variantes de passages, mais la plupart n'ont pas d'humour, ou des mots aléatoires qui ne semblent même pas légèrement crédibles.</p>
                                <form class="newsletter-form" data-toggle="validator">
                                    <input type="email" class="form-control" placeholder="Votre Email" name="EMAIL" required autocomplete="off">
                                    <button class="default-btn active" type="submit">
                                        S'abonner
                                    </button>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form>
                            </div>
                        </div>
        
                        <div class="col-lg-2 col-sm-6">
                            <div class="quick-link" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
                                <h3>Liens Rapides</h3>
                                <ul>
                                    <li>
                                        <a href="appoinment.html">
                                            <i class="ri-add-fill"></i>
                                            <p>Rendez-vous</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about-us.html">
                                            <i class="ri-add-fill"></i>
                                            <p>À propos</p>
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="privacy-policy.html">
                                            <i class="ri-add-fill"></i>
                                            <p>Politique de confidentialité</p>
                                        </a>
                                    </li> -->
                                    <li>
                                        <a href="terms-conditions.html">
                                            <i class="ri-add-fill"></i>
                                            <p>Conditions Générales</p>
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="portfolio.html">
                                            <i class="ri-add-fill"></i>
                                            <p>Portfolio</p>
                                        </a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
        
                        <div class="col-lg-3 col-sm-6">
                            <div class="helpful-link" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600">
                                <h3>Liens Utiles</h3>
                                <ul>
                                    <li>
                                       <span>Adresse :</span>187 Avenue Nguma Zone de santé de Mbinza Météo C/ Ngaliema - Kinshasa RDC
                                    </li>
                                    <li>
                                        <span>Téléphone :</span><a href="tel:+23216540987">(+243 808 877 110)</a>
                                    </li>
                                    <li>
                                        <span>Email :</span><a href="mailto:fondationcharis@gmail.com">fondationcharis@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-sm-6">
                            <div class="instragram" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="800">
                                <h3>Instagram</h3>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="instragram-img">
                                            <a href="https://instagram.com/?lang=en" target="_blank">
                                                <img src="assets/images/footer/ins-1.jpg" alt="Image">
                                                <div class="icon">
                                                    <i class="ri-instagram-line"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="instragram-img">
                                            <a href="https://instagram.com/?lang=en" target="_blank">
                                                <img src="assets/images/footer/ins-2.jpg" alt="Image">
                                                <div class="icon">
                                                    <i class="ri-instagram-line"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="instragram-img">
                                            <a href="https://instagram.com/?lang=en" target="_blank">
                                                <img src="assets/images/footer/ins-3.jpg" alt="Image">
                                                <div class="icon">
                                                    <i class="ri-instagram-line"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="instragram-img">
                                            <a href="https://instagram.com/?lang=en" target="_blank">
                                                <img src="assets/images/footer/ins-4.jpg" alt="Image">
                                                <div class="icon">
                                                    <i class="ri-instagram-line"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="instragram-img">
                                            <a href="https://instagram.com/?lang=en" target="_blank">
                                                <img src="assets/images/footer/ins-5.jpg" alt="Image">
                                                <div class="icon">
                                                    <i class="ri-instagram-line"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="instragram-img">
                                            <a href="https://instagram.com/?lang=en" target="_blank">
                                                <img src="assets/images/footer/ins-6.jpg" alt="Image">
                                                <div class="icon">
                                                    <i class="ri-instagram-line"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- <div class="copy">
                                <p>© Genh est fièrement possédé par <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
                            </div> -->
                        </div>
                        <div class="col-lg-6">
                            <div class="social-content">
                                <ul>
                                    <li><span>Suivez-nous sur</span></li>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Footer Area-->

        <style>
            
        </style>

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="ri-arrow-up-s-line"></i>
            <i class="ri-arrow-up-s-line"></i>
        </div>
        <!-- End Go Top Area -->
        
        <!-- Jquery js -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Bootstrap bundle js -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <!-- Meanmenu js -->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!-- Owl Carosel js -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Magnific popup js -->
        <script src="assets/js/jquery.magnific-popup.js"></script>
        <!-- Aos js -->
        <script src="assets/js/aos.js"></script>
        <!-- Odometer js -->    
        <script src="assets/js/odometer.min.js"></script>
        <!-- Appear js -->  
        <script src="assets/js/appear.min.js"></script> 
        <!-- Form Validator js -->    
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact Form Script js -->    
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Ajaxchimp js -->    
        <script src="assets/js/ajaxchimp.min.js"></script>
        <!--Custom js-->
        <script src="assets/js/custom.js"></script>
    </body>
</html>